<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSBonjourServices</key>
	<array>
		<string>_local-chat._tcp</string>
		<string>_local-chat._udp</string>
	</array>
	<key>NSLocalNetworkUsageDescription</key>
	<string>This app uses local network connections to chat with nearby devices.</string>
</dict>
</plist>
